<!DOCTYPE html>
<html>
<head>
    <title>Flask Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Welcome to Paulco Cloud</h1> 
  <div class="visme_d" data-title="Newsletter Signup Form" data-url="76reo6zy-newsletter-signup-form?fullPage=true" data-domain="forms" data-full-page="true" data-min-height="100vh" data-form-id="101707"></div><script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
</body>
</html>
