<form action="/signin" method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    <hr>
    <button type="button" class="btn btn-danger btn-block">Continue with Google</button>
    <button type="button" class="btn btn-dark btn-block">Continue with GitHub</button>
</form>