<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/images/pc.png" alt="Your Logo">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('about') }}">About</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Services</a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="{{ url_for('service', service_name='development') }}">Development</a>
                    <a class="navbar-item" href="{{ url_for('service', service_name='design') }}">Design</a>
                    <a class="navbar-item" href="{{ url_for('service', service_name='consulting') }}">Consulting</a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Products</a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="{{ url_for('product', product_category='software') }}">Software</a>
                    <a class="navbar-item" href="{{ url_for('product', product_category='hardware') }}">Hardware</a>
                    <a class="navbar-item" href="{{ url_for('product', product_category='services') }}">Services</a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('signin') }}">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</nav>



<div class="columns is-mobile">
<div class="column">

<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">Welcome to My Flask App</p>
        <p class="subtitle">This is a simple example of using Flask and Bulma.</p>
    </div>
</section>

</div>



<div class="column">


<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">Welcome to My Flask App</p>
        <p class="subtitle">This is a simple example of using Flask and Bulma.</p>
    </div>
</section>


</div>

</div>


<div class="columns is-mobile">
<div class="column">

<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">Welcome to My Flask App</p>
        <p class="subtitle">This is a simple example of using Flask and Bulma.</p>
    </div>
</section>

</div>



<div class="column">


<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">Welcome to My Flask App</p>
        <p class="subtitle">This is a simple example of using Flask and Bulma.</p>
    </div>
</section>


</div>

</div>